{% extends 'base.html' %}
{% load static %}
{% block title %}Club{% endblock title %}
{% block content %}
   <div class="main">
         <div class="w-100 search-bar">
          <div>
          <form action="search" method="GET">
           <input type="text" name="club" placeholder="search for a club" />
            <button type='submit'><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          </div>
        </div>

        <div class="container mt-5">
          <div class="row">
            {% for r in result %}
                 <div class="col-12 col-md-4 col-lg-3 mb-4">
              <div class="card team-card">
                <img src="{% static './images/team.jpeg' %}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">{{r.origin_club}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">League : {{r.league_origin_club}}</li>
                  <li class="list-group-item">Country : {{r.country_origin_club}}</li>
                </ul>
                <div class="card-body">
                {% with param=r.origin_club %}
                  <a href="{% url 'clubDetalis' param %}" class="btn btn-dark">
                  View Transfer Details
                  </a>
                {% endwith %}

                </div>
              </div>
            </div>
            {% endfor %}


          </div>
        </div>
      </div>
{% endblock content %}