{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

      <div class="main transfers">
        <div class="overlay"></div>
        <div class="container mt-5">
          <div class="transfers-panel">
            <h2 class="text-center text-muted mb-5">Transfers</h2>
            <div class="text-end my-3">
              <a href="{%url 'addTransfer'%}" class="btn btn-outline-info mx-2"
                >Add a new transfer</a
              >
              <button
                class="btn btn-outline-danger"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Delete All Transfers
              </button>
            </div>
            <table>
              <thead>
                <tr>
                  <td>Name</td>
                  <td class="d-lg-table-cell d-none">Position</td>
                  <td class="d-lg-table-cell d-none">Age</td>
                  <td>Origin Club</td>
                  <td class="d-lg-table-cell d-none">Origin League</td>
                  <td class="d-lg-table-cell d-none">Origin Country</td>
                  <td>New Club</td>
                  <td class="d-lg-table-cell d-none">New League</td>
                  <td class="d-lg-table-cell d-none">New Country</td>
                  <td>Player Value</td>
                  <td>Update</td>
                  <td>Delete</td>
                </tr>
              </thead>
              <tbody>
                {%for r in result%}
                <tr>
                  <td>{{r.name}}</td>
                  <td class="d-lg-table-cell d-none">{{r.position}}</td>
                  <td class="d-lg-table-cell d-none">{{r.age}}</td>
                  <td>{{r.origin_club}}</td>
                  <td class="d-lg-table-cell d-none">{{r.league_origin_club}}</td>
                  <td class="d-lg-table-cell d-none">{{r.country_origin_club}}</td>
                  <td>{{r.new_club}}</td>
                  <td class="d-lg-table-cell d-none">{{r.league_new_club}}</td>
                  <td class="d-lg-table-cell d-none">{{r.country_new_club}}</td>
                  <td>{{r.player_valuje}}
                  </td>
                  <td>
                    {% comment %} <a href="{%url 'updateTransfer' %}" class="btn btn-info">Update</a> {% endcomment %}
                      <form action="{% url 'updateTransfer' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="player_name" value='{{r.name}}'>
                      <input type="hidden" name="_method" value="PUT">
                      <button type="submit" class="btn btn-info">Update</button>
                  </form>
                  </td>
                  <td>
                    <form action="{% url 'deleteTransfer' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="player_name" value='{{r.name}}'>
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>

 <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">
              Delete All Transfers
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-dark">
            Are you sure you want to delete all the transfers ?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              No
            </button>
            <form method="POST" action="{% url 'deleteAllTransfers' %}" >
              {% csrf_token %}
              <button
              class="btn btn-outline-danger"
              type='submit'
            >
              Yes Delete All Transfers
            </button>            </div>
        </div>
      </div>
    </div>

{% endblock content %}